* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Typography */
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 62.5%; /* 1rem = 10px */

  /* Font weight */
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Colors */
  --color-primary: hsl(0, 0%, 98%);

  /* New */
  --color-text: hsla(0, 0%, 98%, 0.722);
  --color-text-secondary: hsl(0, 0%, 60%);
  --color-background: hsl(0, 0%, 0%);
  --color-border: #474747;
  --color-button-hover: hsla(0, 0%, 98%, 0.098);

  --nav-height: 5.2rem;

  background-color: var(--color-background);
  color: var(--color-dark);

  scroll-behavior: smooth;
}

body {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

@media screen and (min-width: 632px) {
  body {
    padding: 0 3.2rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    padding: 0;
  }
}
