* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Typography */
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 62.5%; /* 1rem = 10px */

  /* Font weight */
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Colors */
  --color-primary: hsl(0, 0%, 100%); /* Interactivity */
  --color-primary-tint: hsl(0, 0%, 0%);
  --color-primary-shade: hsl(224, 72%, 35%);
  --color-background: hsl(0, 3%, 6%);
  /* --color-background: #101014; */

  --color-darkest: hsl(0, 0%, 100%); /* Heading text */
  --color-dark: hsl(224, 27%, 24%); /* Secondary text */
  --color-medium: hsl(224, 18%, 43%); /* Non-decorative borders */
  --color-light: hsl(224, 24%, 74%); /* Decorative borders*/
  --color-lightest: hsl(224, 24%, 96%); /* Background */
  --color-white: #fff; /* Alternate backgrounds */

  /* New */
  --color-accent: #fafafa;
  --color-accent2: #999999;
  --color-background: hsl(0, 0%, 0%);
  --color-accent3: #474747;
  --color-button-hover: #fafafa19;
  --color-text: #fafafab8;
  /* --color-subtitle: rgba(250, 250, 250, 0.902); */

  --nav-height: 5.2rem;

  background-color: var(--color-background);
  color: var(--color-dark);

  scroll-behavior: smooth;
}

body {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

@media screen and (min-width: 632px) {
  body {
    padding: 0 3.2rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    padding: 0;
  }
}
