.experienceContainer {
    .companyHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1.6rem;

        .companyName {
            font-size: 1.8rem;
            font-weight: var(--font-weight-bold);
            color: var(--color-primary);
        }
    }

    .rolesContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 4.8rem;
    }
    
    /* Vertical timeline line */
    .rolesContainer::before {
        content: '';
        position: absolute;
        left: 5px;
        top: 8px;
        bottom: 0;
        width: 2px;
        background-color: var(--color-primary);
        opacity: 0.3;
    }
    
    .duration {
        font-size: 1.6rem;
        color: var(--color-text-secondary);
        margin-bottom: 0.6rem;
    }

    .rolesContainer {
        .role {
            position: relative;
            /* margin-bottom: 4.8rem; */

            .header {
                display: flex;
                align-items: baseline;
                flex-direction: row;
                gap: 1.2rem;
                /* justify-content: space-between; */
            }

        .circle {
            width: 1.2rem;
            height: 1.2rem;
            border: 2px solid var(--color-text-secondary);
            border-radius: 50%;
            background-color: var(--color-background);
            z-index: 1;
        }

            /* Circular marker for each role */
            /* &::before {
                content: '';
                position: absolute;
                left: -2.4rem;
                top: 6px;
                width: 1.2rem;
                height: 1.2rem;
                border: 2px solid var(--color-primary);
                border-radius: 50%;
                background-color: var(--color-background);
                z-index: 1;
            } */

            .content {
                display: flex;
                flex: 1;
                flex-direction: row;
                justify-content: space-between;
                
            }

            /* .header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            } */

            .title {
                font-size: 1.6rem;
                font-weight: var(--font-weight-semibold);
                color: var(--color-primary);
                margin-bottom: 0.8rem;
            }

            .description {
                /* color: var(--color-text-secondary); */
                color: var(--color-text);
                margin-bottom: 1.6rem;
                font-size: 1.6rem;
                margin-left: 2.4rem;
            }

            .stack {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 0.8rem;
                margin-left: 2.4rem;
            }

            .stack li {
                list-style: none;
                /* border: 1px solid var(--color-border); */
                /* background-color: #fafafa0d; */
                background-color: var(--color-button-hover);
                border-radius: 4px;
                padding: 0.4rem 0.8rem;
                font-size: 1.4rem;
                /* font-weight: var(--font-weight-regular); */
                /* color: #ddd; */
                color: var(--color-text);
                /* color: #ddd; */
            }
        }
    }


    .sectionTitle {
        font-size: 1.8rem;
        font-weight: var(--font-weight-bold);
        color: var(--color-primary);
        margin-bottom: 1.6rem;
    }

    /* .roleTitle {
        font-size: 1.6rem;
        font-weight: var(--font-weight-regular);
        color: var(--color-primary);
    } */

    /* .role {
        margin-bottom: 2rem;
    } */
}